body {
    text-align: center;
    background-color: rgb(23, 102, 161);
    color: white;
    font-family: sans-serif;
}
a {
    color: white;
}
div {
    width: 80%;
    background-color:rgb(204, 156, 51);
    margin: 20px auto;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px white;
}

img {
    border: 2px solid white;
}